[Unit]
Description=Coffee Remote

[Service]
User=pi
WorkingDirectory=/home/pi/rpi-coffeebot/
Environment="PATH=/home/pi/rpi-coffeebot/venv/bin"
ExecStart=/home/pi/rpi-coffeebot/venv/bin/gunicorn remoteapp:app -b 0.0.0.0:35011

[Install]
WantedBy=multi-user.target
