<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>COFFEE REMOTE</title>
<style type="text/css">
button {
	display: block;
	width: 90%;
	height:256px;
	border:none;
	margin: 10px auto;
}
#on {
	background-color: #73DF22;	
}
#off {
	background-color: #D01E21;	
}
p {
	text-align: center;
	font-size: 2em;
}
</style>
</head>

<body>
<p>Status: <span id="status"></span></p>
<button id="on">Coffee On</button>
<button id="off">Coffee Off</button>

<script>
const statusMsg = document.getElementById('status');

function getStatus () {
	fetch('/status')
		.then(resp => {return resp.text()})
		.then(data => {
			if (data === "1") {
				statusMsg.innerHTML = "On";
			} else {
				statusMsg.innerHTML = "Off";
			}	
		})
}

document.getElementById('on').addEventListener('click', e => {
	fetch('/on').then(resp => {
		if (resp.status === true) {
			getStatus();
		}
	})
});

document.getElementById('off').addEventListener('click', e => {
	fetch('/off').then(resp => {
		if (resp.status === true) {
			getStatus();
		}
	})
});

getStatus();

</script>
</body>
</html>

